echo "# Chewsday.com" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/abacad1234/Chewsday.com.git
git push -u origin main
